asgiref==3.5.1
backports.zoneinfo==0.2.1
bleach==5.0.0
certifi==2022.5.18
charset-normalizer==2.0.12
commonmark==0.9.1
coreapi==2.3.3
coreschema==0.0.4
coverage==6.4
distlib==0.3.4
Django==4.0.4
djangorestframework==3.13.1
docutils==0.18.1
filelock==3.7.1
idna==3.3
importlib-metadata==4.11.4
itypes==1.2.0
Jinja2==3.1.2
keyring==23.5.1
MarkupSafe==2.1.1
packaging==21.3
pkginfo==1.8.2
platformdirs==2.5.2
pluggy==1.0.0
py==1.11.0
Pygments==2.12.0
pyparsing==3.0.9
pytz==2022.1
readme-renderer==35.0
requests==2.27.1
requests-toolbelt==0.9.1
rfc3986==2.0.0
rich==12.4.4
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
tox==3.25.0
twine==4.0.1
typing-extensions==4.2.0
uritemplate==4.1.1
urllib3==1.26.9
virtualenv==20.14.1
webencodings==0.5.1
zipp==3.8.0
